:root {
    --base-color: #000028; /*Dark Blue Background*/
    --text-color: #e7e7e7; /*White Text Color*/
    --dark-text: #202020; /*Darker Text Color for bright Background*/
    --button-color: #3a435d; /*Button Color*/
    --accent-color: #0071ff; /*Accent Color, for example for hovering over a Button*/
    --default-font: 'JetBrains Mono', Helvetica, Arial; /*Sets font to NetBrains Mono, if not, fall back on the other 2*/
    --hyperlink-color: #e81a24; /*Color for hyperlinks*/
}

.main-container {
    display: flex;
    flex-direction: column; /*Stacks children vertically*/
    align-items: center; /*Centers children horizontally*/
    justify-content: center; /*Centers children vertically*/
    height: 100vh; /*Full viewport height*/
    width: 100vw; /*Full viewport width*/
}

body {
    width: 100vw;
    display: flex;
    background-color: var(--base-color);
    color: var(--text-color);
    font-family: var(--default-font);
    font-size: 32px; /*Sets base font size*/
    text-align: center; /*Centers all the text*/
    align-items: center; /*Centers content vertically*/
    justify-content: center; /*Centers content horizontally*/
    flex-direction: column; /*Stacks children vertically*/
    margin: 0;
    padding: 0;
}

.game-rules {
    font-size: 20px; /*Sets font size for list items*/
}

.game-rules li {
    margin-top: 1.8em; /*Adds margin between list items*/
    margin-bottom: 0.5em; /*Adds margin between list items*/
    /*float: left; /*Puts Text on the Left*/
}

.game-rules img {
    max-width: 17%; /*Ensures images do not exceed container width*/
    height: auto; /*Maintains aspect ratio*/
    /*float: right; /*Puts Images on the Right*/
}

.remove_bulletpoint {
    list-style-type: none; /*Removes bullets from lists*/
    padding: 0; /*Removes padding*/
    margin: 0;
}

.controls {
    clear: both; /*Clears floats*/
    overflow: auto; /*Ensures proper layout*/
}

a {
    color: var(--hyperlink-color); /*Sets hyperlink color*/
    text-decoration: none; /*Removes underline from hyperlinks*/
}

button {
    background-color: var(--button-color);
    color: var(--text-color);
    border: none; /*Removes the Border*/
    padding: 10px 20px; /*Padding around the text*/
    text-align: center; /*Centers text inside button*/
    display: inline-block; /*Inline-block display*/
    font-family: var(--default-font);
    font-size: 24px; /*Font size for button text*/
    margin: 10px; /*Margin around button*/
    cursor: pointer; /*Pointer cursor on hover*/
    border-radius: 5px; /*Rounded corners*/
    transition:cubic-bezier(0.5, 0, 1, 1) 0.15s;
}

button:hover {
    background-color: var(--accent-color); /*Changes button color on hover*/
}

h2 {
    text-decoration: underline; /*Underlines h2 elements*/
}