@()

@main("Memory Game - How to Play") {
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Game - How to Play</title>
  </head>
  <body>
    <div class="explanation-container">
      <h1>How to Play Memory</h1>
      <div class="game-rules">
        <h2><u>Game Rules</u></h2>
        <ul>
          <span class="remove_bulletpoint"><li>The board consists of a multitude of pairs of matching cards, like these:</li></span>
          <img src="@routes.Assets.versioned("images/matching_cards.png")" alt="matching_cards.png" height="256" width="256"/>
          <span class="remove_bulletpoint"><li>When the game begins, all cards are placed face down</li></span>
          <img src="@routes.Assets.versioned("images/all_cards_hidden.png")" alt="all_cards_hidden.png" height="256" width="256"/>
          <span class="remove_bulletpoint"><li>Players now take turns flipping two cards at a time</li></span>
          <img src="@routes.Assets.versioned("images/random_cards_flipped.png")" alt="random_cards_flipped.png" height="256" width="256"/>
          <span class="remove_bulletpoint"><li>If the cards match, the player keeps them and gets another turn, but if they don't, they get flipped back down and the next Player takes their turn.</li></span>
          <span class="remove_bulletpoint"><li>The game ends when all pairs are found</li></span>
          <img src="@routes.Assets.versioned("images/all_pairs_found.png")" alt="all_pairs_found.png" height="256" width="256"/>
          <span class="remove_bulletpoint"><li>The player with the most pairs wins!</li></span>
        </ul>
      </div>

      <div class="controls">
        <h2><u>How to Play Our Version</u></h2>
        <p>Right now, our Version does not have the functioning Version of the game linked to the Web-UI.</p>
      </div>
      <a href="@routes.HomeController.index" class="back-button">
        <button>Back to Main Page</button>
      </a>
    </div>
  </body>
}
