@()

@main("Welcome to Play") {
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Memory Game!</title>
  </head>
  <body>
    <div class="main-container">
      <h1>Welcome to Memory Game!</h1>

      <div class="button-container">
        <a href="@routes.HomeController.explanation" class="game-button">
          <button>How to Play</button>
        </a>
        <a href="@routes.GameController.index" class="game-button">
          <button>Start Game</button>
        </a>
      </div>
    </div>
  </body>
}
